<html>
    <head>
        <title>flack-server | dashboard</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.min.js"></script>
        <style>
            * {
                margin: 0;
                padding: 0;
            }
            body {
                font-family: sans-serif;
                font-size: 14px;
            }
            .row, .col {
                display: flex;
            }
            .row {
                flex-direction: row;
            }
            .col {
                flex-direction: column;
            }
            .grow {
                flex-grow: 1
            }
            .box-container {
                margin: 5px;
            }
            .box {
                padding: 15px;
                background-color: #eee
            }
            .box .box {
                background-color: #ccc;
            }
            #dashboard form input:not([type=file]),
            #dashboard form select {
                padding: 5px;
                display: block;
                width: 100%;
            }
            button {
                margin-left: auto;
                display: block;
            }
            #messages {
                padding: 10px;
                background-color: #fff;
                list-style-type: none;
                margin-bottom: 15px
            }

            #messages li {
                margin-bottom: 15px
            }
            .sidebar {
                float: right;
                width: 300px;
            }
        </style>
        <script>
            function Room(id, messages) {
                this.id = id
                this.messages = []
            }
            function Message(id, content, sender, file, location, time) {
                this.id = id
                this.content = content
                this.sender = sender
                this.location = location
                this.file = file
                this.time = new Date(time)
            }

            $(document).ready(function () {
                $("#catch-up form *").prop('disabled', true)
                $("#init form *").prop('disabled', true)
                $("#write-a-message form *").prop('disabled', true)


                // API URLs
                var apiLoginUrl = '/api/auth/login/'
                var apiRoomUpdatesUrl = '/api/rooms/'
                var apiMessageUpdatesUrl = '/api/messages/'
                var apiFileUploadUrl = '/api/files/upload/'

                var loginMessageUi = $("#login .retrieved-message")
                var loginTokenUi = $("#login .retrieved-token")
                var token

                var rooms = []

                var wsBaseUrl = "ws://127.0.0.1:8000/"
                var socket

                var currentRoomId

                $("#login form").submit(function (e) {
                    e.preventDefault()

                    var form = $(this)
                    var formData = form.serialize()

                    $.ajax({
                        method: "POST",
                        url: apiLoginUrl,
                        data: formData,
                        success: function (d) {
                            console.log({
                                result: "success",
                                response: d
                            })

                            loginMessageUi.text(d.message)

                            if (d.token) {
                                token = d.token
                                loginTokenUi.text(token)

                                tokenRetrievedViaLogin()
                            }
                        },
                        error: function (d) {
                            console.log({
                                result: "error",
                                response: d
                            })
                        }
                    })
                })

                $("#catch-up form").submit(function (e) {
                    e.preventDefault()

                    var form = $(this)
                    var formData = form.serialize()

                    console.log({
                        sender: '#catch-up form (room) | submit',
                        form_data: formData
                    })

                    console.log("NOT IMPLEMENTED!")
                })

                $("#init form.room").submit(function (e) {
                    e.preventDefault()

                    var form = $(this)
                    var formData = form.serialize()

                    console.log({
                        sender: '#init form (room) | submit',
                        form_data: formData
                    })

                    $.ajax({
                        method: "GET",
                        url: apiRoomUpdatesUrl,
                        data: formData,
                        success: function (d) {
                            console.log({
                                result: "success",
                                response: d
                            })

                            // once the init is done, we should not need to re-get room data
                            // $("#init form.room *").prop('disabled', true)

                            addRooms(d)
                        },
                        error: function (d) {
                            console.log({
                                result: "error",
                                response: d
                            })
                        }
                    })
                })

                $("#init form.message").submit(function (e) {
                    e.preventDefault()

                    var form = $(this)
                    var formData = form.serialize()

                    console.log({
                        sender: '#init form (message) | submit',
                        form_data: formData
                    })

                    $.ajax({
                        method: "GET",
                        url: apiMessageUpdatesUrl,
                        data: formData,
                        success: function (d) {
                            console.log({
                                result: "success",
                                response: d
                            })

                            // once the init is done, we should not need to re-get message data
                            // $("#init form.message *").prop('disabled', true)

                            addMessages(d)
                        },
                        error: function (d) {
                            console.log({
                                result: "error",
                                response: d
                            })
                        }
                    })
                })

                $(document.body).on("click", "#rooms .list a", function (e) {
                    e.preventDefault()
                    var clickedRoomId = $(this).attr("data-id")
                    clickedRoomId = parseInt(clickedRoomId)

                    console.log({
                        clicked_room: clickedRoomId
                    })

                    if (currentRoomId !== clickedRoomId) {
                        setRoom(clickedRoomId)
                    }
                })

                function setRoom(roomId) {
                    $("#messages").empty()
                    addMessagesUi(getRoomById(roomId).messages)
                    $("#current-room .name").text("room #" + roomId)
                    currentRoomId = roomId
                }

                function getRoomById(_id) {
                    for (var i = 0; i < rooms.length; i++) {
                        if (rooms[i].id === _id) {
                            return rooms[i]
                        }
                        else {
                            console.log({
                                _rooms_id: rooms[i].id,
                                _required_id: _id
                            })
                        }
                    }

                    console.log("FATAL: FOUND NO ROOMS MATCHING _id!")
                    console.log({
                        _rooms: rooms
                    })
                }

                function addMessagesUi(_messages) {
                    for (var i = 0; i < _messages.length; i++) {
                        addMessageUi(_messages[i])
                    }
                }

                function addMessageUi(_message) {
                    /*
                    <li>
                        exampleuser: message 1<br/>
                        <small>location: none</small><br/>
                        <small>file: none</small>
                        <small>time: 2018 Aug 28, 13:28</small>
                    </li>
                    */
                    var locationStr = _message.location?
                        _message.location.latitude + "&deg;, " +
                        _message.location.longitude + "&deg;"
                        :
                        "none"

                    var fileStr = _message.file?
                        "<a href='"+_message.file.url+"'>"+
                            _message.file.name+
                        "</a>"
                        :
                        "none"

                    $("#messages").append(
                        "<li>"+
                            _message.sender + ": " + _message.content + "<br />" +
                            "<small>location: " + locationStr + "</small><br />" +
                            "<small>file: " + fileStr + "</small><br />" +
                            "<small>time: " + _message.time + "</small>" +
                        "</li>"
                    )
                }

                function parseUpdates(upd) {
                    console.log({
                        updates: upd
                    })
                }

                function addRooms(_rooms) {
                    console.log({
                        arg: _rooms
                    })
                    for (var i = 0; i < _rooms.length; i++) {
                        addRoom(_rooms[i])
                    }
                }

                function safeAddRoom(_room) {
                    var roomUnique = true
                    // check if room not already added
                    for (var i = 0; i < rooms.length; i++) {
                        console.log({
                            arg_room: _room,
                            iter_room: rooms[i]
                        })

                        if (rooms[i].id === _room.id) {
                            console.log("match found!")
                            roomUnique = false
                            break
                        }
                    }

                    if (roomUnique) {
                        addRoom(_room)
                    }
                }

                function addRoom(_room) {
                    roomObj = new Room(_room.id)
                    rooms.push(roomObj)

                    $("#rooms .list").append(
                            "<a href='' data-id='" + _room.id + "'>" +
                                "room #" + _room.id +
                            "</a><br />"
                    )
                }

                function addMessages(_messages) {
                    console.log({
                        func: 'addMessages',
                        arg: _messages
                    })
                    for (var i = 0; i < _messages.length; i++) {
                        addMessage(_messages[i])
                    }

                    console.log({
                        rooms_after_adding: rooms
                    })
                }

                function addMessage(_message) {
                    var roomIdx

                    // find room it belongs to
                    for (var i = 0; i < rooms.length; i++) {
                        if (rooms[i].id === _message.room) {
                            roomIdx = i
                            break
                        }
                    }

                    if (roomIdx !== undefined) {
                        // Message(id, content, sender, file, location, time)
                        var msgObj = new Message(
                            _message.id,
                            _message.content,
                            _message.sender,
                            _message.file,
                            _message.location,
                            _message.time
                        )
                        rooms[roomIdx].messages.push(msgObj)

                        // add to UI if room currently visible
                        if (currentRoomId === _message.room) {
                            addMessageUi(_message)
                        }
                    }
                }

                function tokenRetrievedViaLoginDbg() {
                    // disable login form elements
                    $("#login form *").prop('disabled', true)

                    // pre-fill catch-up and init forms with token for
                    // authenticated queries
                    $("#catch-up form input[name=token]").val(token)
                    $("#init form input[name=token]").val(token)

                    // enable catch-up and init forms
                    $("#catch-up form *").prop('disabled', false)
                    $("#init form *").prop('disabled', false)

                    // open ws here
                }

                $("#write-a-message form").submit(function (e) {
                    e.preventDefault()

                    var form = $(this)
                    var formData = form.serialize()

                    var fileInput = $(this).find("input[type=file]")
                    var fileInputDom = fileInput[0]
                    var fileList = fileInputDom.files

                    var wamContent = form.find("input[name=content]").val()

                    var locationObj

                    var wamLatitude = form.find("input[name=latitude]").val()
                    var wamLongitude = form.find("input[name=longitude]").val()

                    if (wamLatitude !== "" && wamLongitude !== "") {
                        locationObj = {
                            latitude: wamLatitude,
                            longitude: wamLongitude
                        }
                    }
                    else {
                        locationObj = null
                    }

                    if (fileList.length !== 0) {
                        var file = fileList[0]

                        var formData = new FormData()
                        formData.append('file', file)
                        formData.append('token', token)

                        $.ajax({
                            method: "PUT",
                            url: apiFileUploadUrl,
                            data: formData,
                            processData: false,
                            contentType: false,
                            success: function (d) {
                                console.log({
                                    result: "success",
                                    response: d
                                })

                                var fileId = d.file.id

                                var createMessage = {
                                    type: "create",
                                    attr: {
                                        object: "message",
                                        content: wamContent,
                                        file: fileId,
                                        room: currentRoomId,
                                        location: locationObj
                                    }
                                }

                                socket.send(JSON.stringify(createMessage))
                            },
                            error: function (d) {
                                console.log({
                                    result: "error",
                                    response: d
                                })
                            }
                        })
                    }
                    else {
                        var createMessage = {
                            type: "create",
                            attr: {
                                object: "message",
                                content: wamContent,
                                file: null,
                                room: currentRoomId,
                                location: locationObj
                            }
                        }

                        socket.send(JSON.stringify(createMessage))
                    }
                })

                function catchUpRooms(_callback) {
                    $.ajax({
                        method: "GET",
                        url: apiRoomUpdatesUrl,
                        data: {token: token},
                        success: function (d) {
                            console.log({
                                result: "success",
                                response: d
                            })
                            addRooms(d)

                            if (_callback)
                                _callback()
                        },
                        error: function (d) {
                            console.log({
                                result: "error",
                                response: d
                            })
                        }
                    })
                }

                function catchUpMessages(_callback) {
                    $.ajax({
                        method: "GET",
                        url: apiMessageUpdatesUrl,
                        data: {token: token},
                        success: function (d) {
                            console.log({
                                result: "success",
                                response: d
                            })
                            addMessages(d)

                            if (_callback)
                                _callback()
                        },
                        error: function (d) {
                            console.log({
                                result: "error",
                                response: d
                            })
                        }
                    })
                }

                function tokenRetrievedViaLogin() {
                    // disable login form elements
                    $("#login form *").prop('disabled', true)

                    // room and message catch-up
                    catchUpRooms(catchUpMessages(function () {
                        // open ws
                        var wsUrl = wsBaseUrl + token + "/"
                        socket = new ReconnectingWebSocket(wsUrl)
                        socket.onmessage = function (e) {
                            console.log({
                                wsevent: e
                            })
                            handleWsEventData(e.data)
                        }

                        setRoom(rooms[0].id)

                        // enable wam form
                        $("#write-a-message form *").prop('disabled', false)
                    }))
                }

                function handleWsEventData(d) {
                    d_ = JSON.parse(d)

                    console.log({
                        parsedJson: d_
                    })

                    if (d_.attr.object === 'message') {
                        addMessage({
                            room: d_.attr.room,

                            id: d_.attr.message_id,
                            content: d_.attr.content,
                            sender: d_.attr.sender,
                            file: d_.attr.file,
                            location: d_.attr.location,
                            time: new Date(d_.attr.time) // this should not be necessary
                        })
                    }
                }
            })
        </script>
    </head>
    <body>
        <div class="box-container box" id="login">
            <h1>login</h1>
            <small>get token using drf to auth to ws</small>
            <form>
                <input type="text" name="username" placeholder="username"/>
                <input type="text" name="password" placeholder="password"/>
                <button type="submit">login</button>
            </form>
            <small>message: <span class="retrieved-message">None</span></small><br/>
            <small>token: <span class="retrieved-token">None</span></small>
        </div>
        <div class="box-container box" id="register">
            <h1>register</h1>
            <small>user check and make using drf</small>
            <form>
                <input type="text" placeholder="username"/>
                <input type="text" placeholder="password"/>
                <input type="text" placeholder="confirm password"/>
                <button type="submit">register</button>
            </form>
        </div>
        <div id="dashboard">
            <div class="row">
                <div class="grow">
                    <div class="box-container box" id="rooms">
                        <h1>rooms</h1>
                        <div class="list"></div>
                        <!--
                        <a href="#">room #1</a><br/>
                        <a href="#">room #2</a><br/>
                        <a href="#">room #3</a><br/>
                        -->
                        <br/>
                        <div class="box" id="make-a-room">
                            <h2>make a room</h2>
                            <form>
                                <p>room participants</p>
                                <input type="text" placeholder="filter..." />
                                <br/>
                                <select size="3">
                                    <option>exampleuser</option>
                                    <option>exampleuser</option>
                                    <option>exampleuser</option>
                                </select><br/>
                                <button type="submit">make</button>
                            </form>
                        </div>
                    </div>
                    <div class="box-container box" id="current-room">
                        <h1>current room</h1>
                        <p>room name: <span class="name">room #2</span></p><br />
                        <p>messages:</p>
                        <ul id="messages"></ul>
                        <div class="box" id="write-a-message">
                            <h2>write a message</h2>
                            <form>
                                <!--

                                _message.id,        - db return
                                _message.content,   - form value
                                _message.sender,    - filled by consumer
                                _message.file,      - form value, but should do route+js
                                _message.location,  - form value
                                _message.time       - db return

                                -->
                                <input type="text" name="content" placeholder="text" />
                                <input type="number" name="latitude" placeholder="location.latitude" />
                                <input type="number" name="longitude" placeholder="location.longitude" />
                                <span>file: </span><input type="file" name="file" placeholder="text" />
                                <button type="submit">send</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="sidebar col">
                    <div class="box-container box" id="catch-up">
                        <h1>get updates since</h1>

                        <p>get room updates since</p>
                        <small>roomId</small>
                        <form class="js-updates_room-since_room">
                            <input type="hidden" name="token" />
                            <input type="datetime" name="room" placeholder="room id" />
                            <button type="submit">get</button>
                        </form>
                        <small>messageId</small>
                        <form class="js-updates_room-since_message">
                            <input type="hidden" name="token" />
                            <input type="datetime" name="message" placeholder="message id" />
                            <button type="submit">get</button>
                        </form>

                        <p>get message updates since</p>
                        <small>roomId</small>
                        <form class="js-updates_message-since_room">
                            <input type="hidden" name="token" />
                            <input type="datetime" name="room" placeholder="room id" />
                            <button type="submit">get</button>
                        </form>
                        <small>messageId</small>
                        <form class="js-updates_message-since_message">
                            <input type="hidden" name="token" />
                            <input type="datetime" name="message" placeholder="message id" />
                            <button type="submit">get</button>
                        </form>
                    </div>
                    <div class="box-container box" id="init">
                        <h1>init</h1>
                        <br />
                        <p>get room data</p>
                        <form class="room">
                            <input type="hidden" name="token" />
                            <button type="submit">get</button>
                        </form>
                        <br />
                        <hr />
                        <p>get message data</p>
                        <form class="message">
                            <input type="hidden" name="token" />
                            <button type="submit">get</button>
                        </form>
                    </div>
                    <div class="box-container box grow" id="notifications">
                        <h1>notifications</h1>
                        <p class="item">
                            exampleuser<br/>
                            room #2<br/>
                            hello world!<br/>
                        </p><br/>
                        <p class="item">
                            exampleuser<br/>
                            room #2<br/>
                            example.jpg<br/>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
