<html>
    <head>
        <title>flack-server | dashboard</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.min.js"></script>
        <style>
            * {
                margin: 0;
                padding: 0;
            }
            body {
                font-family: sans-serif;
                font-size: 14px;
            }
            .row, .col {
                display: flex;
            }
            .row {
                flex-direction: row;
            }
            .col {
                flex-direction: column;
            }
            .grow {
                flex-grow: 1
            }
            .box-container {
                margin: 5px;
            }
            .box {
                padding: 15px;
                background-color: #eee
            }
            .box .box {
                background-color: #ccc;
            }
            #dashboard form input:not([type=file]),
            #dashboard form select {
                padding: 5px;
                display: block;
                width: 100%;
            }
            button {
                margin-left: auto;
                display: block;
            }
            #messages {
                padding: 10px;
                background-color: #fff;
                list-style-type: none;
                margin-bottom: 15px;
                max-height: 500px;
                overflow-y: scroll;
            }
            #messages li {
                margin-bottom: 15px
            }
            .sidebar {
                float: right;
                width: 300px;
                word-wrap: break-word;
            }
            #files .reload {
                color: blue;
                text-decoration: none;
                float: right;
            }
            #files ul {
                list-style-type: none;
            }
        </style>
        <script>
            function Room(id, name) {
                this.id = id
                this.name = name
                this.messages = []

                this.getRoomName = function () {
                    if (this.name) {
                        return this.name
                    }
                    else {
                        return "room #" + this.id
                    }
                }
            }
            function Message(id, content, sender, file, location, time) {
                this.id = id
                this.content = content
                this.sender = sender
                this.location = location
                this.file = file
                this.time = new Date(time)
            }

            $(document).ready(function () {
                $("#catch-up form *").prop('disabled', true)
                $("#init form *").prop('disabled', true)
                $("#current-room").hide()
                setMakeRoomInputStateDisabled(true)
                validateRegisterFields()

                // API URLs
                var apiLoginUrl = '/api/auth/login/'
                var apiRegisterUrl = '/api/auth/register/'
                var apiUserExistsUrl = '/api/auth/user-exists/'
                var apiRoomUpdatesUrl = '/api/rooms/'
                var apiMessageUpdatesUrl = '/api/messages/'
                var apiFileUploadUrl = '/api/files/upload/'
                var apiFileListUrl = '/api/files/'
                var apiUserListUrl = '/api/auth/users/'

                var loginMessageUi = $("#login .message")
                var registerMessageUi = $("#register .message")

                var authUsernameUi = $("#auth .username")
                var authTokenUi = $("#auth .token")

                var username
                var sender_unique
                var token

                var rooms = []
                var roomIds = []

                var wsHost
                if (window.location.host) {
                    wsHost = window.location.host
                }
                else {
                    wsHost = '127.0.0.1:8000'
                }

                var wsBaseUrl = "ws://" + wsHost + "/"
                var socket

                var currentRoomId

                $("#login form").submit(function (e) {
                    e.preventDefault()

                    var form = $(this)
                    var formData = form.serialize()

                    $.ajax({
                        method: "POST",
                        url: apiLoginUrl,
                        data: formData,
                        success: function (d) {
                            console.log({
                                sender: "#login form | submit",
                                result: "success",
                                response: d
                            })

                            loginMessageUi.text(d.message)

                            if (d.token) {
                                username = d.user.name
                                sender_unique = username + "_" + randomNChars(4)
                                userId = d.user.id
                                token = d.token

                                authUsernameUi.text(username)
                                authTokenUi.text(token)

                                tokenRetrievedViaLogin()
                            }
                        },
                        error: function (d) {
                            console.log({
                                result: "error",
                                response: d
                            })

                            loginMessageUi.text(d.responseJSON.detail)
                        }
                    })
                })

                $("#register form").submit(function (e) {
                    e.preventDefault()

                    var form = $(this)
                    var formData = form.serialize()

                    $.ajax({
                        method: "POST",
                        url: apiRegisterUrl,
                        data: formData,
                        success: function (d) {
                            console.log({
                                result: "success",
                                response: d
                            })

                            registerMessageUi.text(d.message)

                            if (d.token) {
                                username = d.user.name
                                sender_unique = username + "_" + randomNChars(4)
                                userId = d.user.id
                                token = d.token

                                authUsernameUi.text(username)
                                authTokenUi.text(token)

                                tokenRetrievedViaRegister()
                            }
                        },
                        error: function (d) {
                            console.log({
                                result: "error",
                                response: d
                            })

                            registerMessageUi.text(d.responseJSON.detail)
                        }
                    })
                })

                function randomNChars(n) {
                    // source: https://stackoverflow.com/q/1349404
                    // posted by @doubletap, improved by @Antoine Pinsard
                    return Math.random().toString(36).slice(-n)
                }
                
                $("#register input").keyup(function (e) {
                    validateRegisterFields()
                })

                function validateRegisterFields() {
                    var usernameValid = validateUsername()
                    var passwordValid = validatePassword()
                    var inputsValid = usernameValid && passwordValid
                    var shouldDisable = !inputsValid

                    var registerUsernameErrorUi = $("#register .username-error")

                    if (inputsValid) {
                        registerUsernameErrorUi.text("[usr](...) validating username")
                        checkUsernameAvailable()
                    }
                    else {
                        $("#register button").prop('disabled', shouldDisable)
                    }
                }

                function checkUsernameAvailable() {
                    var registerUsernameErrorUi = $("#register .username-error")
                    var usernameVal = $("#register input[name=username").val()

                    $.ajax({
                        method: "GET",
                        url: apiUserExistsUrl,
                        data: {username: usernameVal},
                        success: function (d) {
                            console.log({
                                result: "success",
                                response: d
                            })

                            var exists = d.exists
                            var shouldDisable = true
                            
                            if (exists) {
                                registerUsernameErrorUi.text("[usr](err) username '"+usernameVal+"' is taken")
                                shouldDisable = true
                            }
                            else {
                                registerUsernameErrorUi.text("[usr](ok) username '"+usernameVal+"' is available!")
                                shouldDisable = false
                            }
                            $("#register button").prop('disabled', shouldDisable)
                        },
                        error: function (d) {
                            console.log({
                                result: "error",
                                response: d
                            })
                        }
                    })
                }
                
                function validateUsername() {
                    var registerUsernameErrorUi = $("#register .username-error")
                    var usernameVal = $("#register input[name=username").val()

                    if (usernameVal.length === 0) {
                        registerUsernameErrorUi.text("[usr](err) username cannot be empty")
                        return false
                    }
                    else {
                        registerUsernameErrorUi.text("[usr](...) to check username availability, please enter password")
                        return true
                    }
                }

                function validatePassword() {
                    var registerPasswordErrorUi = $("#register .password-error")
                    var passwordVal = $("#register input[name=password").val()

                    if (passwordVal.length < 6) {
                        registerPasswordErrorUi.text("[pwd](err) password must be at least 6 characters long")
                        return false
                    }
                    else {
                        registerPasswordErrorUi.text("[pwd](ok)")
                        return true
                    }
                }

                $("#catch-up form").submit(function (e) {
                    e.preventDefault()

                    var form = $(this)
                    var formData = form.serialize()

                    console.log({
                        sender: '#catch-up form (room) | submit',
                        form_data: formData
                    })

                    console.log("NOT IMPLEMENTED!")
                })

                $("#init form.room").submit(function (e) {
                    e.preventDefault()

                    var form = $(this)
                    var formData = form.serialize()

                    console.log({
                        sender: '#init form (room) | submit',
                        form_data: formData
                    })

                    $.ajax({
                        method: "GET",
                        url: apiRoomUpdatesUrl,
                        data: formData,
                        success: function (d) {
                            console.log({
                                result: "success",
                                response: d
                            })

                            // once init is done, re-getting room data should 
                            // not be necessary (or doable)
                            $("#init form.room *").prop('disabled', true)

                            addRooms(d)
                        },
                        error: function (d) {
                            console.log({
                                result: "error",
                                response: d
                            })
                        }
                    })
                })

                $("#init form.message").submit(function (e) {
                    e.preventDefault()

                    var form = $(this)
                    var formData = form.serialize()

                    console.log({
                        sender: '#init form (message) | submit',
                        form_data: formData
                    })

                    $.ajax({
                        method: "GET",
                        url: apiMessageUpdatesUrl,
                        data: formData,
                        success: function (d) {
                            console.log({
                                result: "success",
                                response: d
                            })

                            // once init is done, re-getting message data 
                            // should not be necessary
                            $("#init form.message *").prop('disabled', true)

                            addMessages(d)
                        },
                        error: function (d) {
                            console.log({
                                result: "error",
                                response: d
                            })
                        }
                    })
                })

                $(document.body).on("click", "#rooms .list a", function (e) {
                    e.preventDefault()
                    var clickedRoomId = $(this).attr("data-id")
                    clickedRoomId = parseInt(clickedRoomId)

                    console.log({
                        clicked_room: clickedRoomId
                    })

                    if (currentRoomId !== clickedRoomId) {
                        setRoom(clickedRoomId)
                    }
                })

                function setRoom(roomId) {
                    $("#messages").empty()

                    var roomObj = getRoomById(roomId)
                    addMessagesUi(roomObj.messages)
                    $("#current-room .name").text(roomObj.getRoomName())
                    currentRoomId = roomId

                    $("#current-room").show()
                }

                function getRoomById(_id) {
                    for (var i = 0; i < rooms.length; i++) {
                        if (rooms[i].id === _id) {
                            return rooms[i]
                        }
                        else {
                            console.log({
                                _rooms_id: rooms[i].id,
                                _required_id: _id
                            })
                        }
                    }

                    console.log("FATAL: FOUND NO ROOMS MATCHING _id!")
                    console.log({
                        _rooms: rooms
                    })
                }

                function addMessagesUi(_messages) {
                    for (var i = 0; i < _messages.length; i++) {
                        addMessageUi(_messages[i])
                    }
                }

                function addMessageUi(_message) {
                    /*
                    <li>
                        exampleuser: message 1<br/>
                        <small>location: none</small><br/>
                        <small>file: none</small>
                        <small>time: 2018 Aug 28, 13:28</small>
                    </li>
                    */
                    var locationStr = _message.location?
                        _message.location.latitude + "&deg;, " +
                        _message.location.longitude + "&deg;"
                        :
                        "none"

                    var fileStr = _message.file?
                        "<a href='"+_message.file.url+"'>"+
                            _message.file.name+
                        "</a>"
                        :
                        "none"

                    $("#messages").append(
                        "<li>"+
                            _message.sender + ": " + _message.content + "<br />" +
                            "<small>location: " + locationStr + "</small><br />" +
                            "<small>file: " + fileStr + "</small><br />" +
                            "<small>time: " + _message.time + "</small>" +
                        "</li>"
                    )
                }

                function parseUpdates(upd) {
                    console.log({
                        updates: upd
                    })
                }

                function addRooms(_rooms) {
                    console.log({
                        sender: "addRooms()",
                        arg: _rooms
                    })
                    for (var i = 0; i < _rooms.length; i++) {
                        addRoom(_rooms[i])
                    }
                }

                function safeAddRoom(_room) {
                    var roomUnique = true
                    // check if room not already added
                    for (var i = 0; i < rooms.length; i++) {
                        console.log({
                            arg_room: _room,
                            iter_room: rooms[i]
                        })

                        if (rooms[i].id === _room.id) {
                            console.log("match found!")
                            roomUnique = false
                            break
                        }
                    }

                    if (roomUnique) {
                        addRoom(_room)
                    }
                }

                function addRoom(_room) {
                    var roomObj = new Room(_room.id, _room.name)

                    rooms.push(roomObj)

                    roomIds.push(_room.id)

                    $("#rooms .list").append(
                            "<a href='' data-id='" + roomObj.id + "'>" +
                                roomObj.getRoomName() +
                            "</a><br />"
                    )
                }

                function addMessages(_messages) {
                    for (var i = 0; i < _messages.length; i++) {
                        addMessage(_messages[i])
                    }

                    console.log({
                        sender: 'addMessages()',
                        arg: _messages,
                        rooms_after_adding: rooms
                    })
                }

                function addMessage(_message) {
                    var roomIdx

                    // find room it belongs to
                    for (var i = 0; i < rooms.length; i++) {
                        if (rooms[i].id === _message.room) {
                            roomIdx = i
                            break
                        }
                    }

                    if (roomIdx !== undefined) {
                        // Message(id, content, sender, file, location, time)
                        var msgObj = new Message(
                            _message.id,
                            _message.content,
                            _message.sender,
                            _message.file,
                            _message.location,
                            _message.time
                        )
                        rooms[roomIdx].messages.push(msgObj)

                        // add to UI if room currently visible
                        if (currentRoomId === _message.room) {
                            addMessageUi(_message)
                        }
                    }
                }

                function tokenRetrievedViaLoginDbg() {
                    // disable login form elements
                    $("#login form *").prop('disabled', true)

                    // pre-fill catch-up and init forms with token for
                    // authenticated queries
                    $("#catch-up form input[name=token]").val(token)
                    $("#init form input[name=token]").val(token)

                    // enable catch-up and init forms
                    $("#catch-up form *").prop('disabled', false)
                    $("#init form *").prop('disabled', false)

                    // open ws here
                }

                $("#write-a-message form").submit(function (e) {
                    e.preventDefault()

                    var form = $(this)
                    var formData = form.serialize()

                    var fileInput = $(this).find("input[type=file]")
                    var fileInputDom = fileInput[0]
                    var fileList = fileInputDom.files

                    var wamContent = form.find("input[name=content]").val()

                    var locationObj

                    var wamLatitude = form.find("input[name=latitude]").val()
                    var wamLongitude = form.find("input[name=longitude]").val()

                    if (wamLatitude !== "" && wamLongitude !== "") {
                        locationObj = {
                            latitude: wamLatitude,
                            longitude: wamLongitude
                        }
                    }
                    else {
                        locationObj = null
                    }

                    if (fileList.length !== 0) {
                        var file = fileList[0]

                        console.log({
                            sender: "write-a-message | hasFile",
                            file: file
                        })

                        var formData = new FormData()
                        formData.append('file', file)
                        formData.append('token', token)

                        $.ajax({
                            method: "PUT",
                            url: apiFileUploadUrl,
                            data: formData,
                            processData: false,
                            contentType: false,
                            success: function (d) {
                                console.log({
                                    result: "success",
                                    response: d
                                })

                                var fileId = d.file.id

                                var createMessage = {
                                    type: "create",
                                    attr: {
                                        object: "message",
                                        sender_unique: sender_unique,
                                        content: wamContent,
                                        file: fileId,
                                        room: currentRoomId,
                                        location: locationObj
                                    }
                                }

                                socket.send(JSON.stringify(createMessage))
                            },
                            error: function (d) {
                                console.log({
                                    result: "error",
                                    response: d
                                })
                            }
                        })
                    }
                    else {
                        var createMessage = {
                            type: "create",
                            attr: {
                                object: "message",
                                sender_unique: sender_unique,
                                content: wamContent,
                                file: null,
                                room: currentRoomId,
                                location: locationObj
                            }
                        }

                        socket.send(JSON.stringify(createMessage))
                    }

                    form.find("input").val('')
                })

                function catchUpRooms(_callback) {
                    $.ajax({
                        method: "GET",
                        url: apiRoomUpdatesUrl,
                        data: {token: token},
                        success: function (d) {
                            console.log({
                                sender: "catchUpRooms()",
                                result: "success",
                                response: d
                            })
                            addRooms(d)

                            catchUpMessages(_callback)
                        },
                        error: function (d) {
                            console.log({
                                result: "error",
                                response: d
                            })
                        }
                    })
                }

                function catchUpMessages(_callback) {
                    $.ajax({
                        method: "GET",
                        url: apiMessageUpdatesUrl,
                        data: {token: token},
                        success: function (d) {
                            console.log({
                                sender: "catchUpMessages()",
                                result: "success",
                                response: d
                            })
                            addMessages(d)

                            if (_callback)
                                _callback()
                        },
                        error: function (d) {
                            console.log({
                                result: "error",
                                response: d
                            })
                        }
                    })
                }

                function tokenRetrievedViaRegister() {
                    // hide login and register forms
                    $("#login").hide()
                    $("#register").hide()

                    // open ws
                    var wsUrl = wsBaseUrl + token + "/"
                    socket = new ReconnectingWebSocket(wsUrl)
                    socket.onmessage = function (e) {
                        console.log({
                            wsevent: e
                        })
                        handleWsEventData(e.data)
                    }

                    initializeMakeRoomForm()
                }

                function tokenRetrievedViaLogin() {
                    // hide login and register forms
                    $("#login").hide()
                    $("#register").hide()

                    // room and message catch-up
                    /*
                    catchUpRooms(function () {
                        // open ws
                        var wsUrl = wsBaseUrl + token + "/-1/-1/"
                        socket = new ReconnectingWebSocket(wsUrl)
                        socket.onmessage = function (e) {
                            console.log({
                                wsevent: e
                            })
                            handleWsEventData(e.data)
                        }
                        
                        if (rooms.length > 0) {
                            setRoom(rooms[0].id)
                        }

                        initializeMakeRoomForm()

                        initializeFiles()
                    })
                    */

                    // open ws
                    var wsUrl = wsBaseUrl + token + "/-1/-1/"
                    socket = new ReconnectingWebSocket(wsUrl)
                    socket.onmessage = function (e) {
                        console.log({
                            wsevent: e
                        })
                        handleWsEventData(e.data)
                    }

                    initializeMakeRoomForm()

                    initializeFiles()
                }

                $("#files .reload").click(function (e) {
                    e.preventDefault()

                    initializeFiles()
                })

                function initializeFiles() {
                    var files = $("#files ul")
                    $.ajax({
                        method: "GET",
                        url: apiFileListUrl,
                        data: {token: token},
                        success: function (d) {
                            console.log({
                                func: "initializeFiles",
                                result: "success",
                                response: d
                            })

                            files.empty()

                            for (var i = 0; i < d.length; i++) {
                                files.append(
                                    "<li>" +
                                        "<small>" +
                                            "<a href='" + d[i].shareable_url + "'>" +
                                                d[i].name +
                                            "</a>" +
                                            " | "+
                                            "<a href='"+d[i].localnode_url+"'>(fastdl)</a>"+
                                        "</small><br />" +
                                        "<small>" +
                                            d[i].size +
                                        "</small><br />" +
                                        "<small><code>" +
                                            d[i].hash +
                                        "</code></small><br />" +
                                    "</li><br />"
                                )
                            }
                        },
                        error: function (d) {
                            console.log({
                                func: "initializeFiles",
                                result: "error",
                                response: d
                            })
                        }
                    })
                }

                $("#make-a-room form").submit(function (e) {
                    e.preventDefault()
                    var form = $(this)

                    var participantsVal = form.find("select").val()
                    var participants = []

                    // javascript collects values as strings. but we need them
                    // as ints.
                    for (var i = 0; i < participantsVal.length; i++) {
                        participants.push(parseInt(participantsVal[i]))
                    }

                    // it doesn't make much sense to make a room which doesn't
                    // the user who's creating it
                    participants.push(userId)

                    // sort just because it'll otherwise go through the
                    // application unsorted
                    participants.sort()

                    var nameVal = form.find("input[name=name]").val()
                    var name = nameVal.length > 0 ? nameVal : null

                    var data
                    if (name) {
                        data = {
                            token: token,
                            participants: participants,
                            name: name
                        }
                    }
                    else {
                        data = {
                            token: token,
                            participants: participants
                        }
                    }

                    var createRoom = {
                        type: "create",
                        attr: {
                            object: "room",
                            sender_unique: sender_unique,
                            name: name,
                            participants: participants
                        }
                    }

                    socket.send(JSON.stringify(createRoom))

                    // flush make-a-room inputs
                    form.find("input[name=name]").val('')
                    form.find("input[name=user-filter]").val('')
                    form.find("select").val('')
                })

                function initializeMakeRoomForm() {
                    // fetch all users
                    populateMakeRoomUserList()

                    console.log("reached initializeMakeRoomForm")

                    setMakeRoomInputStateDisabled(false)
                }

                $("#make-a-room input[name=user-filter]").keyup(function (e) {
                    query = $(this).val()

                    populateMakeRoomUserList(query)
                })

                $("#make-a-room select").on("change", function (e) {
                    validateMakeRoomForm()
                })

                function validateMakeRoomForm() {
                    var selectedValues = $("#make-a-room select").val()

                    if (selectedValues.length < 1) {
                        $("#make-a-room form button").prop('disabled', true)
                    }
                    else {
                        $("#make-a-room form button").prop('disabled', false)
                    }
                }

                function populateMakeRoomUserList(query) {
                    if (query) {
                        data = {
                            token: token,
                            q: query
                        }
                    }
                    else {
                        data = {token: token}
                    }

                    $.ajax({
                        method: "GET",
                        url: apiUserListUrl,
                        data: data,
                        success: function (d) {
                            console.log({
                                fun: "populateMakeRoomUserList",
                                result: "success",
                                response: d
                            })

                            var marSelect = $("#make-a-room select")
                            marSelect.empty()

                            var users = d

                            /*
                            <option value="3">exampleuser</option>
                            <option value="3">exampleuser</option>
                            <option value="3">exampleuser</option>
                            */
                            for (var i = 0; i < users.length; i++) {
                                marSelect.append(
                                    "<option value='"+users[i].id+"'>"+
                                        users[i].username+
                                    "</option>"
                                )
                            }

                            validateMakeRoomForm()
                        },
                        error: function (d) {
                            console.log({
                                result: "error",
                                response: d
                            })
                        }

                    })
                }

                function handleWsEventData(d) {
                    d_ = JSON.parse(d)

                    console.log({
                        parsedJson: d_
                    })

                    var shouldAddMessage = false
                    var shouldAddRoom = false

                    // accept:
                    // * server responses, because they contain complete
                    //   message/room data for addition on the frontend; and
                    // * relevant notifications (notification related to a
                    //   room we're in or are going to be) sent only from
                    //   other users, because we already have enough data for
                    //   stuff we sent ourselves
                    if (d_.attr.object === 'message') {
                        if (d_.type === 'response') { shouldAddMessage = true }
                        else if (
                            d_.type === 'notification' &&
                            d_.attr.sender_unique !== sender_unique &&
                            roomIds.includes(d_.attr.room)
                        ) {
                            shouldAddMessage = true
                        }
                    }
                    else if (d_.attr.object === 'room') {
                        if (d_.type === 'response') { shouldAddRoom = true }
                        else if (
                            d_.type === 'notification' &&
                            d_.attr.sender_unique !== sender_unique &&
                            d_.attr.participants.includes(userId)
                        ) {
                            shouldAddRoom = true
                        }
                    }

                    if (shouldAddMessage) {
                        console.log({
                            sender: "handleWsEventData()",
                            result: "shouldAddMessage = true"
                        })
                        addMessage({
                            room: d_.attr.room,
                            id: d_.attr.message_id,
                            content: d_.attr.content,
                            sender: d_.attr.sender,
                            file: d_.attr.file,
                            location: d_.attr.location,
                            time: new Date(d_.attr.time)
                            // new Date() should not be necessary?
                        })
                    }
                    else if (shouldAddRoom) {
                        console.log({
                            sender: "handleWsEventData()",
                            result: "shouldAddRoom = true"
                        })
                        addRoom({
                            id: d_.attr.id,
                            name: d_.attr.name
                        })
                    }
                }

                function setMakeRoomInputStateDisabled(state) {
                    $("#make-a-room form *, #make-a-room input").prop('disabled', state)
                }
            })
        </script>
    </head>
    <body>
        <div class="box-container box" id="login">
            <h1>login</h1>
            <small>get token using drf to auth to ws</small>
            <form>
                <input type="text" name="username" placeholder="username"/>
                <input type="text" name="password" placeholder="password"/>
                <button type="submit">login</button>
            </form>
            <small>: <span class="message"></span></small>
        </div>
        <div class="box-container box" id="register">
            <h1>register</h1>
            <small>user check and make using drf</small><br><br>
            <small>: <span class="username-error"></span></small><br>
            <small>: <span class="password-error"></span></small>
            <form>
                <input type="text" name="username" placeholder="username"/>
                <input type="text" name="password" placeholder="password"/>
                <button type="submit">register</button>
            </form>

        </div>
        <div id="dashboard">
            <div class="row">
                <div class="grow">
                    <div class="box-container box" id="rooms">
                        <h1>rooms</h1>
                        <div class="list"></div>
                        <!--
                        <a href="#">room #1</a><br/>
                        <a href="#">room #2</a><br/>
                        <a href="#">room #3</a><br/>
                        -->
                        <br/>
                        <div class="box" id="make-a-room">
                            <h2>make a room</h2>
                            <form>
                                <input type="text" name="name" placeholder="room name"/><br />
                                <small>room participants</small>
                                <input type="text" name="user-filter" placeholder="filter..." />
                                <select size="10" name="participants" multiple></select>
                                <button type="submit">make</button>
                            </form>
                        </div>
                    </div>
                    <div class="box-container box" id="current-room">
                        <h1>current room</h1>
                        <p>room name: <span class="name">room #2</span></p><br />
                        <p>messages:</p>
                        <ul id="messages"></ul>
                        <div class="box" id="write-a-message">
                            <h2>write a message</h2>
                            <form>
                                <!--

                                _message.id,        - db return
                                _message.content,   - form value
                                _message.sender,    - filled by consumer
                                _message.file,      - form value, but should do route+js
                                _message.location,  - form value
                                _message.time       - db return

                                -->
                                <input type="text" name="content" placeholder="text" />
                                <input type="number" name="latitude" placeholder="location.latitude" />
                                <input type="number" name="longitude" placeholder="location.longitude" />
                                <span>file: </span><input type="file" name="file" placeholder="text" />
                                <button type="submit">send</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="sidebar col">
                    <div class="box-container box" id="auth">
                        <h1>auth data</h1>
                        <p>
                            <small>
                                username: <span class="username">None</span>
                            </small>
                        </p>
                        <p>
                            <small>
                                token: <span class="token">None</span>
                            </small>
                        </p>
                    </div>
                    <div class="box-container box" id="catch-up">
                        <h1>get updates since</h1>
                        <p><small><b>not implemented!</b></small></p><br>
                        <p>get room updates since</p>
                        <small>roomId</small>
                        <form class="js-updates_room-since_room">
                            <input type="hidden" name="token" />
                            <input type="datetime" name="room" placeholder="room id" />
                            <button type="submit">get</button>
                        </form>
                        <small>messageId</small>
                        <form class="js-updates_room-since_message">
                            <input type="hidden" name="token" />
                            <input type="datetime" name="message" placeholder="message id" />
                            <button type="submit">get</button>
                        </form>

                        <p>get message updates since</p>
                        <small>roomId</small>
                        <form class="js-updates_message-since_room">
                            <input type="hidden" name="token" />
                            <input type="datetime" name="room" placeholder="room id" />
                            <button type="submit">get</button>
                        </form>
                        <small>messageId</small>
                        <form class="js-updates_message-since_message">
                            <input type="hidden" name="token" />
                            <input type="datetime" name="message" placeholder="message id" />
                            <button type="submit">get</button>
                        </form>
                    </div>
                    <div class="box-container box" id="init">
                        <h1>init</h1>
                        <br />
                        <p>get room data</p>
                        <form class="room">
                            <input type="hidden" name="token" />
                            <button type="submit">get</button>
                        </form>
                        <br />
                        <hr />
                        <p>get message data</p>
                        <form class="message">
                            <input type="hidden" name="token" />
                            <button type="submit">get</button>
                        </form>
                    </div>
                    <div class="box-container box" id="files">
                        <h1>my files <a class="reload" href="">&#8634;</a></h1>
                        <ul></ul>
                    </div>
                    <div class="box-container box grow" id="notifications">
                        <h1>notifications</h1>
                        <p><small><b>not implemented!</b></small></p><br>
                        <p class="item">
                            exampleuser<br/>
                            room #2<br/>
                            hello world!<br/>
                        </p><br/>
                        <p class="item">
                            exampleuser<br/>
                            room #2<br/>
                            example.jpg<br/>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
